body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}
#menu{
    width: 100%;
    background-color: rgb(21, 255, 0);
    height: 80px;
    display: grid;
    grid-template-columns: 20% 10% 70%;
    grid-template-rows: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
#menu ul li{
    display: inline-block;
    padding-left: 20px;
    line-height: 80px;

}
#menu ul li a{
    color: rgb(15, 26, 12);  
    text-decoration: none;  
    cursor: pointer;
    font-size: 14pt;
    font-weight: 600;

}

#menu ul li a.active,#menu ul li a:hover{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 15pt;
    transition: all 0.2s;
    background-color: rgb(29, 28, 28); ;
}
#menu ul{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}
/*botao menu*/
.menuBTN i{
    font-size: 45pt;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
/*LOGO*/
#logo{
    width: 300px;
    height: 80px;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    background-image: url('Fotos/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
/*menu para celular*/
@media (max-width: 720px){
    .menuBTN i{
        display: block;
    }
    .menuBTN{
        display: flex;
        justify-content: flex-end;
        padding-right: 5%;
    }
    #menu{
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px;
    }
    #menu ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: rgba(2, 155, 91, 0.418);
        height: 100vh;
        width: 80%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #menu ul.open{
        left: 0;
    }
    #menu ul li{
        width: 100%;
        margin-top: 10px 0;
    }
    #menu ul li a{
        font-size: 18pt;
    }
    #menu ul li a.active,#menu ul li a:hover{
        border: 2px solid rgb(0, 0, 0);
        border-radius: 10px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 15pt;
        transition: all 0.2s;
        background-color: rgb(29, 28, 28); 
    }
}
/*FIM MENU*/
/*Imagem home */
#home{
    width: 100%;
    height: 85vh;
    background-image: url('https://www.neoris.com/documents/20126/241879/iStock-1334575820.jpg/d527ceb3-e256-4856-2ff2-56ec2cee4d2c?t=1654185388133');
    background-size: cover;
}
.filtro{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    width: 30%;
    min-width: 250px;
    height: 100px;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.616);
    padding-top: 15px;
}
.titulo h1,p{
    text-align: center;
    color: aliceblue;
    font-variant: small-caps;
    font-size: 25pt;
}
.titulo p{
    font-size: 18pt;
}

/*Sobre*/
#sobre{
    width: 100%;
    height: 70vh;
    background-color: aqua;
}
.fundo{
    width: 100%;
    height: 85%;
    display: flex;
    background-color: blue;

}
#sobre h1{
    text-align: center;
    padding-top: 2%;
}
.texto,.img{
    width: 50%;
    height: auto;
}
.texto{
    background-color: aquamarine;
}
.img{
    background-color: blueviolet;
}
/*sobre - para celular*/
@media (max-width: 720px){
    .fundo{
        display: block;
    }
    .texto,.img{
        width: 100%;
    }

}

/*Serviços*/
#servicos{
    width: 100%;
    height: 500px;
    background-color: brown;
}
#servicos h1{
    text-align: center;
    padding-top: 2%;
}
.fundo-sev{
    width: 80%;
    height: 85%;
    background-color: rgb(0, 136, 91);
    margin: 15px 9%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit, 200px);
}
.sev{
    border: 2px solid red;
}
@media (max-width: 1070px){
    #servicos{
        height: 900px;
    }
}
@media (max-width: 720px){
    #servicos{
        height: 1400px;
    }

}
